@use '../../../styles/mixins';
@use '../../../styles/variables';

.home {
    padding-bottom: 90px;
    &__banner {
        height: 100vh;
        margin-bottom: 90px;
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    font-family: 'Syne', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;

    & span {
        font-size: 350px;
    }
}